In [1]:
import pandas as pd
import numpy as np
import datetime as dt
path= 'z:/largetransfer/luc/carter'

In [2]:
tci= pd.read_csv(path+ '/data/model_data/tci_1_0.csv', parse_dates=['Date'])
tci = tci[['parcel','vacant','SPA_NAME','Date']]

C:\Users\senatoduro8\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [82]:
fclose = pd.read_csv(path+'/data/clean_data/foreclosure_filings2.csv', parse_dates=[2])
fclose2=pd.read_csv(path+'/data/clean_data/foreclosure_filings.csv',parse_dates=[2],usecols=list(range(12))+[13])
transfer = pd.read_csv(path+'/data/clean_data/transfers.csv', parse_dates=['mdate'], dtype=str)
alen = pd.read_csv(path+'/data/clean_data/armslength.csv', dtype=str)
fclose=pd.merge(fclose,fclose2[['parcel','cdesig']], how='left', left_on='parcel',right_on='parcel')

In [78]:
# parse armslength dates
months = dict(zip(['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],range(1,13)))
def parse_date(x):
    day = int(x[0:2])
    month = months[x[2:5]]
    year = int(x[5:])
    return dt.datetime(year,month,day)

alen['date']=alen.mdate.apply(parse_date)

In [83]:
##preprocessing and subsetting
transfer.columns=transfer.columns.str.lower()
alen.columns=alen.columns.str.lower()
transfer=transfer[['property_number','grantee1','mdate','deed_type']]
transfer=transfer.loc[(transfer.deed_type=='Sheriffs Deed') | (transfer.deed_type == 'Sheriffs Deed Ex'),]
alen= alen[['property_number','date','ngrantee1']]
fclose=fclose[['parcel','filedate','cdesig']]

In [90]:
##Parsing foreclosure to identify case designation of type "Board of Revision"

def parse_fc(x):
    if isinstance(x,str):
        if 'board of revision' in x.lower():
            return 'bor'
        else: 
            return 'other'
    else:
        return 'other'
fclose['case_desig']=fclose.cdesig.apply(parse_fc)

In [93]:
# Renaming columns for coherence and ascertaining unduplicated data
transfer= transfer.rename(columns={'property_number':'parcel','mdate':'date'})
alen= alen.rename(columns={'property_number':'parcel'})
fclose= fclose.rename(columns={'filedate':'date'})
transfer.drop_duplicates(inplace=True)
alen.drop_duplicates(inplace=True)
fclose.drop_duplicates(inplace=True)

In [94]:
import re
reo_owned=['BANK','MORTG','MORT.','FANNIE','SEC.','LOAN','AMERIQUEST','AMTRUST','ARGENT','AEON','BINARKO','CENTEX','CHASE'\
           ,'GMAC','HOMECOMINGS','INTERBAY','FEDERAL','NATIONAL','FREDDIE MAC','MORTGAGE','HOME LOAN MORTGAGE','HUD','VETERAN']
reo_owned=[x.lower() for x in reo_owned]

investor_owned=['LLC','LLLC','L.L.C','COMP','HOUSING','INC','OHIO','CLEVELAND','ESTATE','ORGANIZATION','DEVELOP','LTD','L.T.D.'\
                ,'HSG','LIMITED','CUYAHOGA','PROPERT','INVEST','REALT','HOMES','NEIGHBOR','LAND','AVENUE','ROAD','STREET','DRIVE',\
                'GROUP','CAPITAL','CONSTRUCTION','REHAB','RENTAL','REALTY','EVERGREEN']
investor_owned=[x.lower() for x in investor_owned]


def get_owner(x):
    if isinstance(x,str):
        s=x.lower()
        for name in  reo_owned:
            if name in s:
                return 'reo'
            else:
                for n in investor_owned:
                    if n in s:
                        return 'investor'
                    else: 
                        return 'other'
    else: pass
    
transfer['owner_type']=transfer.grantee1.apply(get_owner)
alen['owner_type']=alen.ngrantee1.apply(get_owner)

In [99]:
fclose['status']='fc'
fclose.drop('cdesig',axis=1,inplace=True)
transfer['status']='t'
alen['status']='al'
alen= alen.rename(columns={'ngrantee1':'grantee1'})
data= fclose.append(transfer[['parcel','date','status','owner_type','deed_type']]).append(alen[['parcel',\
    'date','status','owner_type']])

In [100]:
data.head()

  case_desig       date deed_type owner_type      parcel status
0      other 2011-11-02       NaN        NaN  001-01-011     fc
1      other 2008-07-11       NaN        NaN  001-02-016     fc
2      other 2009-02-13       NaN        NaN  001-02-020     fc
3      other 2014-07-24       NaN        NaN  001-02-022     fc
4      other 2013-07-17       NaN        NaN  001-02-024     fc

In [103]:
def status_code(x):
    if x[5]=='fc' and x[0]=='other':
        return 1
    elif x[5]=='fc' and x[0]=='bor':
        return 2
    elif (x[5] == 't') and (x[3] == 'reo'):
        return 2
    elif (x[5] == 't') and (x[3] == 'investor'):
        return 3
    elif (x[5] == 'al') and (x[3] == 'reo'):
        return 2
    elif (x[5] == 'al') and (x[3] == 'investor'):
        return 3
    else:
        return 0

data['status_code']=data.apply(status_code,1)

In [104]:
data[data.status_code==2]

,case_desig,date,deed_type,owner_type,parcel,status,status_code
114,bor,2011-07-01,NaN,NaN,001-07-006,fc,2
133,bor,2008-05-15,NaN,NaN,001-07-051,fc,2
137,bor,2014-03-05,NaN,NaN,001-07-051,fc,2
181,bor,2011-08-10,NaN,NaN,001-07-071,fc,2
211,bor,2007-08-21,NaN,NaN,001-08-059,fc,2
215,bor,2014-09-18,NaN,NaN,001-08-059,fc,2
223,bor,2007-09-05,NaN,NaN,001-08-069,fc,2
232,bor,2007-01-12,NaN,NaN,001-08-069,fc,2
241,bor,2013-09-16,NaN,NaN,001-08-069,fc,2
281,bor,2013-09-25,NaN,NaN,001-08-141,fc,2
287,bor,2013-01-15,NaN,NaN,001-09-010,fc,2
768,bor,2013-09-24,NaN,NaN,001-12-036,fc,2
805,bor,2007-11-05,NaN,NaN,001-13-088,fc,2
809,bor,2013-08-15,NaN,NaN,001-13-088,fc,2
843,bor,2014-07-03,NaN,NaN,001-16-021,fc,2
852,bor,2007-07-03,NaN,NaN,001-16-024,fc,2
856,bor,2014-09-24,NaN,NaN,001-16-024,fc,2
860,bor,2012-12-19,NaN,NaN,001-16-035,fc,2
869,bor,2007-10-19,NaN,NaN,001-16-035,fc,2
878,bor,2011-11-09,NaN,NaN,001-16-035,fc,2
1234,bor,2006-09-01,NaN,NaN,001-23-026,fc,2
1238,bor,2013-09-19,NaN,NaN,001-23-026,fc,2
1393,bor,2006-02-24,NaN,NaN,001-25-081,fc,2
1397,bor,2013-07-15,NaN,NaN,001-25-081,fc,2
1464,bor,2006-08-11,NaN,NaN,002-02-028,fc,2
1468,bor,2012-12-28,NaN,NaN,002-02-028,fc,2
1519,bor,2013-10-29,NaN,NaN,002-05-038,fc,2
1565,bor,2009-12-10,NaN,NaN,002-05-107,fc,2
1929,bor,2007-11-21,NaN,NaN,002-14-072,fc,2
1930,bor,2011-09-01,NaN,NaN,002-14-073,fc,2
...,...,...,...,...,...,...,...
66973,NaN,2012-07-05,NaN,reo,006-09-022,al,2
66974,NaN,2012-07-19,NaN,reo,132-16-032,al,2
66975,NaN,2012-07-19,NaN,reo,006-28-024,al,2
66976,NaN,2012-07-19,NaN,reo,125-31-090,al,2
66977,NaN,2012-07-19,NaN,reo,128-12-061,al,2
66978,NaN,2012-07-19,NaN,reo,138-15-080,al,2
66979,NaN,2012-07-19,NaN,reo,111-15-021,al,2
66980,NaN,2012-07-19,NaN,reo,104-19-106,al,2
66981,NaN,2012-07-20,NaN,reo,143-14-045,al,2
66982,NaN,2012-08-30,NaN,reo,123-22-022,al,2
66983,NaN,2012-12-06,NaN,reo,125-14-020,al,2
66984,NaN,2012-12-20,NaN,reo,023-12-063,al,2
66985,NaN,2012-07-20,NaN,reo,137-08-037,al,2
66986,NaN,2012-06-21,NaN,reo,109-13-028,al,2
66987,NaN,2012-08-20,NaN,reo,012-15-085,al,2
74537,NaN,2013-08-06,NaN,reo,142-05-047,al,2
74538,NaN,2013-10-10,NaN,reo,108-18-038,al,2
74539,NaN,2013-04-08,NaN,reo,128-13-133,al,2
79054,NaN,2014-07-23,NaN,reo,113-14-041,al,2
79055,NaN,2014-02-21,NaN,reo,111-10-084,al,2
79056,NaN,2014-12-11,NaN,reo,111-10-070,al,2
79057,NaN,2014-08-01,NaN,reo,130-23-068,al,2
83483,NaN,2015-04-02,NaN,reo,109-04-045,al,2
83484,NaN,2015-06-10,NaN,reo,113-16-085,al,2
83485,NaN,2015-04-30,NaN,reo,129-29-065,al,2
84004,NaN,2015-04-27,NaN,reo,135-12-076,al,2
87113,NaN,2015-11-23,NaN,reo,128-13-119,al,2
87114,NaN,2015-10-02,NaN,reo,138-04-135,al,2
87390,NaN,2015-11-17,NaN,reo,009-02-068,al,2
87568,NaN,2015-12-23,NaN,reo,001-12-005,al,2

In [105]:
offset=pd.DateOffset(months=3)
rng=pd.date_range('2010/10/1',periods=21,freq='3MS')
data_final=pd.DataFrame(tci['parcel'])


for date in rng:
    subdata= data.loc[data.date <= date,].groupby('parcel').nth(-1)
    subdata=subdata[['status_code']].reset_index()
    data_final=pd.merge(data_final,subdata,left_on='parcel',right_on='parcel', how='left')
    data_final.rename(columns={'status_code':date})
    
data_final.columns=['parcel'] + [str(x) for x in rng]
data_final.columns=data_final.columns.str.replace(' 00:00:00','')


data_final.fillna(value=0,inplace=True)

In [106]:
data_final.head()

,parcel,2010-10-01,2011-01-01,2011-04-01,2011-07-01,2011-10-01,2012-01-01,2012-04-01,2012-07-01,2012-10-01,...,2013-07-01,2013-10-01,2014-01-01,2014-04-01,2014-07-01,2014-10-01,2015-01-01,2015-04-01,2015-07-01,2015-10-01
0,001-01-001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,001-01-003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,001-01-004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,001-01-005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,001-01-006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [107]:
data_final.to_csv('Z:/largetransfer/luc/carter/data/Quartely_parcel_status2.csv')