In [82]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import pandas as pd
import numpy as np
import datetime as dt

In [132]:
tci = pd.read_csv('model_data/tci_2_1.csv')
ppns = set(tci['ppn'])
ppns_num = set(tci['ppn'].apply(lambda x: x.replace('-','')))

## Violations

In [180]:
vs = pd.read_csv('clean_data/violations_collinwood.csv', parse_dates = [1,4])

In [181]:
vs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9911 entries, 0 to 9910
Data columns (total 18 columns):
VIN                     9911 non-null object
v_file_date             9911 non-null datetime64[ns]
v_wf_task               9911 non-null object
v_wf_task_status        9848 non-null object
v_wf_task_date          9911 non-null datetime64[ns]
v_type_of_violation     9433 non-null object
parcel1                 3659 non-null object
parcel                  9911 non-null object
cond_gar                1183 non-null float64
cond                    2852 non-null float64
other                   2194 non-null float64
maint                   2985 non-null float64
fire                    136 non-null float64
int_ext                 81 non-null float64
vin_id                  6397 non-null object
violation_issue_date    6397 non-null object
vn_created              6397 non-null float64
vn_source               6397 non-null float64
dtypes: datetime64[ns](2), float64(8), object(8)
memory usage: 1.4+ MB

In [182]:
vs.head()

,VIN,v_file_date,v_wf_task,v_wf_task_status,v_wf_task_date,v_type_of_violation,parcel1,parcel,cond_gar,cond,other,maint,fire,int_ext,vin_id,violation_issue_date,vn_created,vn_source
0,V06048780,2006-06-03,Closure,Case Closed,2009-12-21,Exterior Maintenance,NaN,111-22-126,NaN,NaN,NaN,1,NaN,NaN,V06048780,06/02/2006,1,2
1,V06048780,2006-06-03,Inspection,Violation Resolved,2009-12-21,Exterior Maintenance,NaN,111-22-126,NaN,NaN,NaN,1,NaN,NaN,V06048780,06/02/2006,1,2
2,V06048780,2006-06-03,Application Acceptance,Violation Notice Rvw Approved,2006-06-12,Exterior Maintenance,NaN,111-22-126,NaN,NaN,NaN,1,NaN,NaN,V06048780,06/02/2006,1,2
3,V06048955,2006-06-06,Closure,Case Closed,2007-02-01,Exterior Maintenance,NaN,115-29-099,NaN,NaN,NaN,1,NaN,NaN,V06048955,06/06/2006,1,2
4,V06048955,2006-06-06,Inspection,Violation Resolved,2007-02-01,Exterior Maintenance,NaN,115-29-099,NaN,NaN,NaN,1,NaN,NaN,V06048955,06/06/2006,1,2

### Violation Task

In [183]:
vs_task = pd.DataFrame(vs.groupby('v_wf_task').count()['VIN'])
vs_task.columns = ['violations_tasks']
vs_task[vs_task.violations_tasks > 1]

                        violations_tasks
v_wf_task
Application Acceptance              3090
Closure                             1990
Condemnation                         101
Inspection                          4236
Non-Condemnation                     257
Prosecution                           20
Search Warrant                       216

In [184]:
for task in set(vs.v_wf_task):
    tci = pd.merge(tci, vs.loc[vs.v_wf_task==task,['parcel','v_wf_task']].groupby('parcel').count(), how='left', left_on = 'ppn', right_index=True)
    tci = tci.rename(columns={'v_wf_task': task.lower()+' count'})
    tci[task.lower()+' count'] = tci[task.lower()+' count'].fillna(0)
#     print task, len(a), sum(a.vacant)*1.0/len(a.vacant)

In [185]:
# def check_task(x):
#     if x in parcel_set:
#         return 1
#     else:
#         return 0
    
# for task in vs_task.index:
#     parcel_set = set(vs.loc[vs.v_wf_task==task,'parcel'])
#     tci['task_'+task[0:3].lower()] = tci['ppn'].apply(check_task)

### Violations count

In [186]:
tci.columns

Index([u'ppn', u'vacant', u'Date', u'Survey Category', u'Survey Grade', u'zip',
       u'propsize', u'pclass', u'totusabl', u'tmktval', u'condition',
       u'parcel_x', u'condition_value', u'parcel_y', u'style_filtered',
       u'parcel_x.1', u'ownerocc_value', u'parcel_y.1', u'totbldgs',
       u'parcel_x.2', u'yrbuilt_filtered', u'parcel_y.2', u'rextwall',
       u'num_of_sales', u'quit_claim_deed', u'warranty_deed',
       u'limited_warranty', u'survivorship_deed', u'fiduciary_deed',
       u'num_of_props', u'PROPERTY_NUMBER', u'SALE_VALID', u'DEED_TYPE',
       u'county_land_bank', u'vindall_Y', u'vindall_P', u'closure count',
       u'demolition approval count', u'application acceptance count',
       u'condemnation count', u'prosecution count', u'search warrant count',
       u'inspection count', u'non-condemnation count', u'violations_number',
       u'vio_30 day condemnation ms_count', u'vio_condemnation - garage_count',
       u'vio_condemnation - main structure_count', u'vio_elevator_count',
       u'vio_exterior maintenance_count',
       u'vio_interior/exterior maintenance_count', u'vio_survey_count',
       u'closure count', u'demolition approval count',
       u'application acceptance count', u'condemnation count',
       u'prosecution count', u'search warrant count', u'inspection count',
       u'non-condemnation count'],
      dtype='object')

In [190]:
vs.groupby('parcel').count()['VIN']

parcel
111-21-003     9
111-21-004    11
111-21-005     6
111-21-007    10
111-21-009     5
111-21-011     4
111-21-016     4
111-21-025     3
111-21-026     1
111-21-027    14
111-21-028     8
111-21-029     3
111-21-030     2
111-21-034     3
111-21-036     2
111-21-040     7
111-21-042     5
111-21-045     6
111-21-046     7
111-21-048     3
111-21-051     2
111-21-053     4
111-21-058     3
111-21-062     4
111-22-008     5
111-22-009     5
111-22-010     8
111-22-011    26
111-22-014     4
111-22-015     2
              ..
116-33-071     3
116-33-072     2
116-34-002     4
116-34-003     7
116-34-008     8
116-34-009     5
116-34-013     4
116-34-014     9
116-34-015     7
116-34-016    10
116-34-020    19
116-34-021    13
116-34-027     6
116-34-031     3
116-34-032     8
116-34-035    11
116-34-036     1
116-34-043     3
116-34-045     6
116-34-050    12
116-34-056     4
116-35-001     2
116-35-031     2
116-35-034     8
116-35-036     5
116-35-037     3
116-35-038     3
116-35-039     6
116-35-041     4
116-36-003     9
Name: VIN, dtype: int64

In [199]:
vs_count = vs.groupby('parcel').count()
vs_count = vs_count.rename(columns={'VIN':'violations_number'})
tci = pd.merge(tci, vs_count, \
               how='left', left_on='ppn', right_index=True)
tci.loc[tci.violations_number.isnull(), 'violations_number'] = 0

In [200]:
tci[['violations_number','vacant']].groupby('violations_number').agg([sum, len])

                  vacant
                     sum   len
violations_number
0                    211  3122
1                     12   139
2                     47   230
3                     60   361
4                     44   151
5                     48   165
6                     29   149
7                     25    74
8                     39    79
9                     11    47
10                    15    32
11                    14    43
12                    14    33
13                     4    19
14                    14    28
15                     3    16
16                     5    13
17                     3    12
18                     3     5
19                     5    12
20                     1     1
21                     0     3
22                     0     7
23                     2     3
24                     1     1
25                     0     1
26                     1     4
27                     1     2
28                     1     4
29                     0     1
30                     0     1
31                     0     1
32                     1     1
36                     1     1
40                     0     2

### Violation types

In [214]:
vs_type = vs[['v_type_of_violation','parcel']].groupby('v_type_of_violation').count()
vs_type = vs_type.rename(columns={'parcel':'violations_type'})

In [216]:
vs_types = vs_type[vs_type['violations_type']>200].index

In [146]:
vs[vs.v_type_of_violation=='Elevator'].groupby('parcel').count()

,VIN,v_file_date,v_wf_task,v_wf_task_status,v_wf_task_date,v_type_of_violation,parcel1,cond_gar,cond,other,maint,fire,int_ext,vin_id,violation_issue_date,vn_created,vn_source
parcel,,,,,,,,,,,,,,,,,
114-29-001,23,23,23,23,23,23,16,0,0,23,0,0,0,0,0,0,0
115-01-001,27,27,27,27,27,27,16,0,0,27,0,0,0,3,3,3,3
115-02-104,3,3,3,3,3,3,0,0,0,3,0,0,0,3,3,3,3
115-02-106,3,3,3,3,3,3,0,0,0,3,0,0,0,3,3,3,3
115-19-004,3,3,3,3,3,3,0,0,0,3,0,0,0,3,3,3,3
115-19-008,64,64,64,64,64,64,11,0,0,64,0,0,0,3,3,3,3
115-28-134,22,22,22,22,22,22,4,0,0,22,0,0,0,6,6,6,6
115-30-013,51,51,51,51,51,51,26,0,0,51,0,0,0,12,12,12,12
115-31-056,10,10,10,10,10,10,10,0,0,10,0,0,0,0,0,0,0
115-33-001,12,12,12,12,12,12,10,0,0,12,0,0,0,2,2,2,2
116-04-006,9,9,9,9,9,9,2,0,0,9,0,0,0,3,3,3,3
116-05-001,7,7,7,7,7,7,2,0,0,7,0,0,0,0,0,0,0
116-07-002,6,6,6,6,6,6,4,0,0,6,0,0,0,0,0,0,0
116-13-001,30,30,30,30,30,30,18,0,0,30,0,0,0,3,3,3,3
116-19-015,3,3,3,3,3,3,3,0,0,3,0,0,0,0,0,0,0
116-28-005,7,7,7,7,7,7,4,0,0,7,0,0,0,3,3,3,3
116-31-013,2,2,2,2,2,2,2,0,0,2,0,0,0,0,0,0,0

In [147]:
vs_types

Index([u'30 Day Condemnation MS', u'Condemnation - Garage',
       u'Condemnation - Main Structure', u'Elevator', u'Exterior Maintenance',
       u'Interior/Exterior Maintenance', u'Survey'],
      dtype='object', name=u'v_type_of_violation')

In [178]:
count = 0
for i in set(vs.parcel):
    if i in ppns:
        count += 1
print count

1252

In [179]:
len(set(vs.parcel))

1768

In [152]:
for vio in vs_types:
    tci2 = pd.merge(tci, vs.loc[vs.v_type_of_violation==vio, ['v_type_of_violation','parcel']].groupby('parcel').count(), left_on='ppn', right_index=True, how='left')
    tci2 = tci2.rename(columns={'v_type_of_violation': 'vio_'+vio.lower()+'_count'})
    tci2['vio_'+vio.lower()+'_count'] = tci2['vio_'+vio.lower()+'_count'].fillna(0)

In [167]:
v = vs.loc[vs.v_type_of_violation=='Elevator', ['v_type_of_violation','parcel']].groupby('parcel').count().reset_index()

In [168]:
t = pd.merge(tci, v, left_on='ppn', right_on='parcel', how='left')

In [174]:
t[t.ppn=='115-01-001']

Empty DataFrame
Columns: [ppn, vacant, Date, Survey Category, Survey Grade, zip, propsize, pclass, totusabl, tmktval, condition, parcel_x, condition_value, parcel_y, style_filtered, parcel_x.1, ownerocc_value, parcel_y.1, totbldgs, parcel_x.2, yrbuilt_filtered, parcel_y.2, rextwall, num_of_sales, quit_claim_deed, warranty_deed, limited_warranty, survivorship_deed, fiduciary_deed, num_of_props, PROPERTY_NUMBER, SALE_VALID, DEED_TYPE, county_land_bank, vindall_Y, vindall_P, closure count, demolition approval count, application acceptance count, condemnation count, prosecution count, search warrant count, inspection count, non-condemnation count, violations_number, vio_30 day condemnation ms_count, vio_condemnation - garage_count, vio_condemnation - main structure_count, vio_elevator_count, vio_exterior maintenance_count, vio_interior/exterior maintenance_count, vio_survey_count, parcel, v_type_of_violation]
Index: []

[0 rows x 54 columns]

In [172]:
v

        parcel  v_type_of_violation
0   114-29-001                   23
1   115-01-001                   27
2   115-02-104                    3
3   115-02-106                    3
4   115-19-004                    3
5   115-19-008                   64
6   115-28-134                   22
7   115-30-013                   51
8   115-31-056                   10
9   115-33-001                   12
10  116-04-006                    9
11  116-05-001                    7
12  116-07-002                    6
13  116-13-001                   30
14  116-19-015                    3
15  116-28-005                    7
16  116-31-013                    2

In [164]:
t[t.v_type_of_violation.notnull()]

Empty DataFrame
Columns: [ppn, vacant, Date, Survey Category, Survey Grade, zip, propsize, pclass, totusabl, tmktval, condition, parcel_x, condition_value, parcel_y, style_filtered, parcel_x.1, ownerocc_value, parcel_y.1, totbldgs, parcel_x.2, yrbuilt_filtered, parcel_y.2, rextwall, num_of_sales, quit_claim_deed, warranty_deed, limited_warranty, survivorship_deed, fiduciary_deed, num_of_props, PROPERTY_NUMBER, SALE_VALID, DEED_TYPE, county_land_bank, vindall_Y, vindall_P, closure count, demolition approval count, application acceptance count, condemnation count, prosecution count, search warrant count, inspection count, non-condemnation count, violations_number, vio_30 day condemnation ms_count, vio_condemnation - garage_count, vio_condemnation - main structure_count, vio_elevator_count, vio_exterior maintenance_count, vio_interior/exterior maintenance_count, vio_survey_count, parcel, v_type_of_violation]
Index: []

[0 rows x 54 columns]

In [161]:
vs.loc[vs.v_type_of_violation=='Elevator', ['v_type_of_violation','parcel']].groupby('parcel').count().reset_index()

        parcel  v_type_of_violation
0   114-29-001                   23
1   115-01-001                   27
2   115-02-104                    3
3   115-02-106                    3
4   115-19-004                    3
5   115-19-008                   64
6   115-28-134                   22
7   115-30-013                   51
8   115-31-056                   10
9   115-33-001                   12
10  116-04-006                    9
11  116-05-001                    7
12  116-07-002                    6
13  116-13-001                   30
14  116-19-015                    3
15  116-28-005                    7
16  116-31-013                    2

In [159]:
t[t.v_type_of_violation.notnull()]

Empty DataFrame
Columns: [ppn, vacant, Date, Survey Category, Survey Grade, zip, propsize, pclass, totusabl, tmktval, condition, parcel_x, condition_value, parcel_y, style_filtered, parcel_x.1, ownerocc_value, parcel_y.1, totbldgs, parcel_x.2, yrbuilt_filtered, parcel_y.2, rextwall, num_of_sales, quit_claim_deed, warranty_deed, limited_warranty, survivorship_deed, fiduciary_deed, num_of_props, PROPERTY_NUMBER, SALE_VALID, DEED_TYPE, county_land_bank, vindall_Y, vindall_P, closure count, demolition approval count, application acceptance count, condemnation count, prosecution count, search warrant count, inspection count, non-condemnation count, violations_number, vio_30 day condemnation ms_count, vio_condemnation - garage_count, vio_condemnation - main structure_count, vio_elevator_count, vio_exterior maintenance_count, vio_interior/exterior maintenance_count, vio_survey_count, v_type_of_violation]
Index: []

[0 rows x 53 columns]

In [108]:
def check_vio(x):
    if x in parcel_set:
        return 1
    else:
        return 0

In [111]:
for vio in vs_types:
    parcel_set = set(vs.loc[vs.v_type_of_violation==vio,'parcel'])
    tci['violation_'+vio.lower()] = tci['ppn'].apply(check_vio)
    a = tci.loc[tci['violation_'+vio.lower()]==1, 'vacant']
    print 'violation_'+vio.lower(),  sum(a),len(a)

 violation_30 day condemnation ms 21 91
violation_condemnation - garage 77 205
violation_condemnation - main structure 223 531
violation_elevator 0 0
violation_exterior maintenance 132 737
violation_interior/exterior maintenance 31 90
violation_survey 123 315

## Complaints

In [19]:
cp = pd.read_csv('clean_data/complaints_tci.csv', parse_dates = [2])

In [20]:
cp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35114 entries, 0 to 35113
Data columns (total 20 columns):
Unnamed: 0             35114 non-null int64
complaint_id           35114 non-null object
c_file_date            35114 non-null datetime64[ns]
c_wf_task              35114 non-null object
c_wf_task_status       34177 non-null object
c_wf_task_date         35114 non-null object
c_type_of_complaint    34488 non-null object
cdc_ri                 0 non-null float64
cdc_corrected          0 non-null float64
cdc_referred           34 non-null float64
othercomp              28782 non-null float64
parcel                 35114 non-null object
parcel1                2268 non-null float64
cdc_comp               0 non-null float64
cdccia_comp            0 non-null float64
council_comp           0 non-null float64
mac_comp               0 non-null float64
public_comp            0 non-null float64
other_comp             0 non-null float64
comp_source            34177 non-null object
dtypes: datetime64[ns](1), float64(11), int64(1), object(7)
memory usage: 5.6+ MB

In [21]:
cp.head(2)

,Unnamed: 0,complaint_id,c_file_date,c_wf_task,c_wf_task_status,c_wf_task_date,c_type_of_complaint,cdc_ri,cdc_corrected,cdc_referred,othercomp,parcel,parcel1,cdc_comp,cdccia_comp,council_comp,mac_comp,public_comp,other_comp,comp_source
0,30411,CMP06037851,2006-03-06,Complaint Acceptance,Complaint Application Accepted,03/29/2007,NaN,NaN,NaN,NaN,1,137-01-026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Public
1,30412,CMP06037851,2006-03-06,Inspection,Inspection Approved,03/29/2007,NaN,NaN,NaN,NaN,1,137-01-026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Public

In [22]:
cp.groupby('c_type_of_complaint').count()['complaint_id']

c_type_of_complaint
Black Mold                                  45
Collapsing Structure                       678
Complete interior/exterior                4208
Court Ordered Inspection                    12
Daycare                                     12
Debris/Garbage/Junk                         39
Debris/Garbage/Junk (Occupied)             216
Debris/Garbage/Junk (Vacant)               113
Doors/Gate/Locks                           107
Driveway                                    28
Dumping                                      2
Dumping Private (Vacant)                    48
Dumping Public                               4
Electrical                                 891
Elevator                                    19
Fence                                      123
Fire Damage                               1952
Foundation issues (animals entering)        11
Garage/Shed/Outbuildings                   359
General Exterior Maintenance              2279
Graffiti                                    21
Grass/Weeds/Bushes                           9
Grass/Weeds/bushes                          11
Grass/Weeds/bushes (Occupied)              234
Grass/Weeds/bushes (Vacant)                158
Gutters/Chimney/Downspouts/Shin              4
Gutters/Chimney/Downspouts/Shingles        186
HVAC                                       403
Illegal Operation                            9
Illegal Operation/Illegal Auto Repair      218
Infestation                                  3
Infestation/Animals/Rodents                 44
Interior                                    35
Interior Flooding                           59
Interior-Mechanical Systems                 25
Lead/Peeling Paint                          17
No Heat                                    154
No Permit                                  494
No Water                                   166
No heat                                     23
No water                                     7
O.V.V.                                   18819
OTHER (Please describe below)              409
Paint/Lead/Peeling                           1
Plumbing                                   827
Porch                                      171
Rental Registration                        117
Roof                                       221
Siding                                      17
Smoke Detectors                             21
Tires (Vacant)                               2
Trees                                        2
Trees (Occupied)                            28
Trees (Vacant)                              13
Unlicensed Vehicles                        211
Unlicensed Vehicles/Tires                   14
Windows                                    135
Zoning Violations                           54
Name: complaint_id, Length: 58, dtype: int64

### Complaint type

In [23]:
cp_type = pd.DataFrame(cp.groupby('c_type_of_complaint').count()['complaint_id'])
cp_type.columns = ['complaint_type']

In [25]:
cp_type[cp_type['complaint_type']>500]

                              complaint_type
c_type_of_complaint
Collapsing Structure                     678
Complete interior/exterior              4208
Electrical                               891
Fire Damage                             1952
General Exterior Maintenance            2279
O.V.V.                                 18819
Plumbing                                 827

In [27]:
def check_complaint(x):
    if x in parcel_set:
        return 1
    else:
        return 0
    
for complaint in cp_type[cp_type['complaint_type']>500].index:
    parcel_set = set(cp.loc[cp.c_type_of_complaint==complaint,'parcel'])
    tci['complaint_'+complaint.lower()] = tci['parcel'].apply(check_complaint)
    a = tci.loc[tci['complaint_'+complaint.lower()]==1, 'vacant']
    print 'complaint_'+complaint.lower(), len(a), sum(a)*1.0/len(a)

complaint_collapsing structure 142 0.267605633803
complaint_complete interior/exterior 862 0.359628770302
complaint_electrical 182 0.214285714286
complaint_fire damage 464 0.185344827586
complaint_general exterior maintenance 487 0.221765913758
complaint_o.v.v. 2393 0.374843292938
complaint_plumbing 173 0.196531791908

### Complaint count (all)

In [28]:
cp_count = pd.DataFrame(cp.groupby('parcel').count()['complaint_id'])
cp_count.columns = ['complaint_count']
tci = pd.merge(tci, cp_count, \
               how='left', left_on='parcel', right_index=True)
tci.loc[tci.complaint_count.isnull(), 'complaint_count'] = 0

In [30]:
sum(tci.loc[tci.complaint_count>10, 'vacant'])*1.0/len(tci.loc[tci.complaint_count>10, 'vacant'])

0.44293478260869568

### Complaint count (6 months)

In [31]:
cp_count = pd.DataFrame(cp[cp.c_file_date>dt.datetime(2013, 9, 1)].groupby('parcel').count()['complaint_id'])
cp_count.columns = ['complaint_count_6_mon']
tci = pd.merge(tci, cp_count, \
               how='left', left_on='parcel', right_index=True)
tci.loc[tci.complaint_count_6_mon.isnull(), 'complaint_count_6_mon'] = 0

In [32]:
sum(tci.loc[tci.complaint_count_6_mon>2, 'vacant'])*1.0/len(tci.loc[tci.complaint_count_6_mon>2, 'vacant'])

0.53640776699029125

### Complain count (3 months)

In [33]:
cp_count = pd.DataFrame(cp[cp.c_file_date>dt.datetime(2013, 12, 1)].groupby('parcel').count()['complaint_id'])
cp_count.columns = ['complaint_count_3_mon']
tci = pd.merge(tci, cp_count, \
               how='left', left_on='parcel', right_index=True)
tci.loc[tci.complaint_count_3_mon.isnull(), 'complaint_count_3_mon'] = 0

In [34]:
sum(tci.loc[tci.complaint_count_3_mon>0, 'vacant'])*1.0/len(tci.loc[tci.complaint_count_3_mon>0, 'vacant']) ,len(tci.loc[tci.complaint_count_3_mon>0, 'vacant'])

(0.58585858585858586, 198)

In [98]:
tci.to_csv('model_data/tci_2_2.csv', index=False)

In [99]:
sum(tci.vacant)

1555